<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-content>
                    <h1>Create a Angular-App</h1>
                    <ul class="list-group">
                        <li class="list-group-item">To Install a Angular-Version11 Globally by Using command - "npm
                            install -g @angular/cli@11.0"</li>
                        <li class="list-group-item">To create a New angular app in specified Directory using command -
                            "ng new project name"</li>
                        <li class="list-group-item">After succesfull creation of angular project,Goto your specified
                            repositary and open with any angular supported text editors,currently by using Visual studio
                            code.
                            <img class="img-thumbnail" [src]="structure">
                        </li>
                        <li class="list-group-item">To Run a angular Application in Browser using by this Command- "ng
                            serve --open" will open with specified default Browser</li>
                    </ul>
                    <h1>Install Additional Design Requirements</h1>
                    <ul class="list-group">
                        <li class="list-group-item">To Install Bootstrap Design Libarary To our Project Usin this
                            command - "npm install bootstrap --save" after install the packages is added into a
                            node_modules</li>
                        <li class="list-group-item">To Install Angular Internal specified Material Design by using this
                            command - "ng add @angular/material"</li>
                    </ul>
                    <h1>Angular structural CLI commands</h1>
                    <ul class="list-group">
                        <li class="list-group-item">Create Component: To use "ng g component 'component Name' "</li>
                        <li class="list-group-item">Create a service: To use "ng g service 'service Name'"</li>
                        <li class="list-group-item">Create a pipe:To use "ng g pipe 'pipe-name'"</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>