<div class="main-wrapper" fxFlexFill fxLayoutAlign="center center">

  <mat-card fxFlex="40">
    <form>

      <mat-card-content>
        <div class="row">


          <mat-form-field class="demo-full-width">
            <mat-label>Productname</mat-label>
            <input matInput placeholder="Productname">
          </mat-form-field>
          <mat-form-field class="demo-full-width">
            <mat-label>Productname</mat-label>
            <input matInput placeholder="Productcategory">
          </mat-form-field>
          <mat-form-field class="demo-full-width">
            <mat-label>Productname</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>

          <section>
            <div class="example-label">Raised</div>
            <div class="example-button-row">

              <button mat-raised-button color="primary">Primary</button>

            </div>
          </section>

        </div>

      </mat-card-content>

    </form>
  </mat-card>
</div>