/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
.router{
    position: relative;
}
.router>*{
    display: block;
}
.routingcontent{
    margin-top: 50px;
}

html, body { height: auto; }
body {
     margin: 0; 
     font-family: 'Poppins', sans-serif !important;
     background-image: url('./images/yellowbanner.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     font-size: large;
     }
p{
    
    font-size: 20px;
}
h2{
    font-weight: bold;
    font-size: 20px;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateY(80deg);
    }
    to{
        opacity: 1;
        transform: rotateX(30deg);

    }
}
.trans{
    animation: transitionIn 3s;
}
@keyframes transitiontwo {
    from{
        opacity: 0;
        transform: rotateY(80deg)
    }
    to{
        opacity: 1;
        transform: rotateX(30deg);
    }
}
.transone{
    animation: transitiontwo 3s;
}
